body {
  background: white;
}
header {
  text-align: center;
  margin: 0 auto;
  color: white;
}

 @font-face {
font-family: mono;
src: url(/mono.otf);
} 
h1 {
font-family: mono;
src: url(/mono.otf);
}
  font-size: 56px;
  font-weight: bold;
  font-style: italic;
  padding: 25px 0px 0px 0px;
  margin: 0 auto;
  text-align: center;
}
ul {
  background rgba(0,0,0,0.5);
  padding: 10px
}
li {
  display: inline;
  font-family: verdana;
  margin: 0 10px 0 10px;
}
a {
  color: white;
  text-decoration: none;
}
