body {
  background: white;
}
header {
  text-align: center;
  margin: 0 auto;
  color: black;
}

header nav a {
    position: relative;
    display: block;
}
a {
    color: Black;
    text-decoration: none;
}
header nav li {
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2rem;
    margin-left: 0.6em;
    colour: Black;
}
h1 {
  font-family: 'Caveat', cursive;
  font-size: 100px;
  padding: 50px 0px 0px 0px;
  margin: 0 auto;
  text-align: center;
}
ul {
  background rgba(0,0,0,0.5);
  padding: 10px
}
li {
  display: inline;
  font-family: 'Caveat', cursive;
  margin: 0 10px 0 10px;
}
a {
  color: black;
  text-decoration: none;
}
